@media(min-width:768px) {

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
   }

   
  .avatar {
    width: 100px;
    height:100px;
  }

  .change-button{
    bottom:25px;
    right:25px;
    width: 30px;
    height: 30px;
  }

  #CatchTheFoilGameName {
    font-size: 45px;
  }

  #PlayButton {
    font-size: 40px;
    height: 100px;
    width: 400px;
  }

  body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("ImageFolder/BackgroundImages/BackgroundTexture.png");
  background-repeat: repeat;
  background-size: 100px 100px; 
  opacity: 0.2; 
  pointer-events: none; 
  z-index: 0;
  }

}

